<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meal planner</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/recipes.css') }}">
    <link rel="shortcut icon" href="static/favicon.ico"/>
    <script src="{{ url_for('static', filename='js/recipes.js') }}" defer></script>
</head>
<body>
    <img src="/static/images/rick-astley-rick-roll.gif">
</body>